body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background: #fb565a;
  border: none;
}

.main-navigation {
  background-color: #eeeeee;
  background-image: url("img/background/grey-back.png");
  background-repeat: no-repeat;
}

.basket-link a {
  background-color: #a6a6a6;
}

.site-navigation,
.basket-navigation {
  list-style: none;
}

.site-navigation a,
.basket-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
  background-color: #fb565a;
}

.catalog {
  color: #000000;
  text-decoration: underline;
}

/*Сфера деятельности*/

.Sfera {
  list-style: none;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}

.Sfera h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}



.main-footer {
  color: #000000;
  list-style: none;
  background-color: #ffffff;

}

.social-network {
  list-style: none;
}
