body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: none;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
	position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.write-me {
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	display: none;
}

.shop {
	color: #40b684;
	text-decoration: underline;
}

.catalog-price{
  background-color: #eeeeee;
  text-align: center;
  display: none;
}

/*Кнопки и цвет кнопок*/

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background: #fb565a;
  border: none;
}

.button:hover,
.button:focus { 
  background-color: #e74246;
}
.button:active {
  background-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.red {
  background-color: #fb565a;
}
.red:hover,
.red:focus{ 
  background-color: #e74246;
}

.red:active {
  background-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.green {
  background-color: #00ca74;
}

.green:hover,
.green:focus{ 
  background-color: #00bc6c;
}

.green:active {
  background-color: #00aa62;
  color: #40c08a;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.yellow {
  background: #efc84a;
}

.yellow:hover,
.yellow:focus {
  background-color: #eab534;
}
.yellow:active {
  background-color: #e5a722;
  color: #ecbe5c;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/**/

.main-navigation {
  background-color: #eeeeee;
  background-image: url("img/background/grey-back.png");
  background-repeat: no-repeat;

}

.main-logo {
  list-style: none;
}

.main-logo:hover,
.main-logo:focus {
  opacity: 0.8;
}
.main-logo:active {
  opacity: 0.3;
}

.basket-link a {
  background-color: #a6a6a6;
}

.site-navigation,
.basket-navigation {
  list-style: none;
}

.site-navigation a,
.basket-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.basket-navigation a:active {
  color: #ababab;
}

/*Слайдеры*/

.slider {
  list-style: none;
}

.slider img{
  width: 698px;
  height: 413px;
}

.slider h3{
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}


/*Сфера деятельности*/

.sphere {
  list-style: none;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}


.sphere h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

/* О студии*/

.about {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.about h3 {
  width: 650px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about p{
  color: #283136;
  width: 616px;
}

.order-info {
  width: 429px;
  color: #283136;
  font-size: 16px;
  line-height: 24px;
}

.order-info h4{
  font-family: "Roboto - Bold", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.order-info ul{
  list-style: none;
  padding: 0;
  font-family: "Roboto - Regular", Arial, sans-serif;
  font-weight: 400;
}

.dash {
  color: #fb565a;
}

.about-in-percent {
  list-style: none;
  font-size: 16px;
}

.about-in-percent ul{
  list-style: none;
}

.year {
  width: 328px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.percent {
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
}

.percent-text {
  color: #283136;
  font-weight: 400;
  line-height: 18px;
}

/*Партнеры*/

.partners ul{
  list-style: none;
}

.partners-logo {
  opacity: 0.2;
}

.partners-logo:hover,
.partners-logo:focus {
  opacity: 1.0;
}

.partners-logo:active {
  opacity: 0.1;
}

/*Страница Catalog*/

.page-title {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	color: #000000;
	background-color: #eeeeee;
  background-image: url("img/background/grey-back.png");
  background-repeat: repeat;
}

.filter fieldset {
  border: none;
}

.filter legend,
.sort {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.slider {
	background-color: #f1f1f1;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: #d0d2d3;
  opacity: 0.3;
}

.filter-show {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  background-color: #eeeeee;
}

.sort a{
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	opacity: 0.3;
}

.sort a:hover,
.sort a:focus {
  opacity: 0.6;
}

.sort a:active {
	opacity: 1.0;
	color: #000000;
}

.browser{
	opacity: 0.12;
}

.catalog-list {
  list-style: none;
  background-color: #f8f8f8;
  border: 1px solid rgba(0, 1, 1, 0.1);
}

.product:hover .catalog-price{
  display: block;
  border: 1px solid rgba(0, 1, 1, 0.5);
}

.product:hover .browser {
  opacity: 1.0;
}

.catalog-price h2{
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-price p{
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
}

.pagination-list {
  list-style: none;
  text-decoration: none;
}

.pagination-item a {
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}
.pagination-item a:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination-item-current a {
  border: 3px solid #dbdbdb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  background-color: #dfdfdf;
}

.pagination-item-current a:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

/*подвал*/

.main-footer {
  list-style: none;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.address h3{
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
}

.address p{
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

/*Ссыки на соц сети*/

.social-network {
  list-style: none;
  text-align: left;
}

.circle {
  display: inline-block;
  width: 79px;
  height: 79px;
  text-align:center;
  line-height: 80px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-network a:hover,
.social-network a:focus {
  background-color: #e74246;
}

.social-network a:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.footer-contacts h2{
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.footer-contacts p{
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}