body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
	position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.shop {
	color: #40b684;
  display: block;
	border-bottom: 2px solid transparent;
  border-color: #fb565a;
}

.catalog-price{
  background-color: #eeeeee;
  text-align: center;
  display: none;
}

/*Навигация/Главный Логотип/ ссылка на корзину*/

.main-navigation {
  background-color: #eeeeee;
  background-image: url('img/background/grey-back.png');
  background-repeat: no-repeat;
}

.main-logo:hover,
.main-logo:focus {
  opacity: 0.8;
}
.main-logo:active {
  opacity: 0.3;
}

.basket-link a {
  background-color: #a6a6a6;
}

.site-navigation,
.basket-navigation {
  list-style: none;
}

.site-navigation a,
.basket-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.basket-navigation a:active {
  color: #ababab;
}

.basket-navigation svg {
  margin-right: 26px;
}



/*Слайдs и слайдер*/

.slider {
  width: 261px;
  height: 80px;
}

.slides img{
  width: 698px;
  height: 413px;
}

.slides h3{
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}


/*Сфера деятельности*/

.sphere {
  list-style: none;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}


.sphere h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

/*Кнопки и цвет кнопок*/

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background: #fb565a;
  border: none;
}

.red {
  background-color: #fb565a;
}
.red:hover,
.red:focus{ 
  background-color: #e74246;
}

.red:active {
  background-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.green {
  background-color: #00ca74;
}

.green:hover,
.green:focus{ 
  background-color: #00bc6c;
}

.green:active {
  background-color: #00aa62;
  color: #40c08a;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.yellow {
  background: #efc84a;
}

.yellow:hover,
.yellow:focus {
  background-color: #eab534;
}
.yellow:active {
  background-color: #e5a722;
  color: #ecbe5c;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/* О студии*/

.about {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.about h3 {
  width: 650px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about p{
  color: #283136;
  width: 616px;
}

.order-info {
  width: 429px;
  color: #283136;
  font-size: 16px;
  line-height: 24px;
}

.order-info h4{
  font-weight: 700;
  text-transform: uppercase;
}

.order-info ul{
  padding: 0;
  list-style: none;
}

.dash {
  color: #fb565a;
}

.about-in-percent {
  font-size: 16px;
}

.about-in-percent ul{
  list-style: none;
}

.year {
  width: 328px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.percent {
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
}

.percent-text {
  color: #283136;
  font-weight: 400;
  line-height: 18px;
}

/*Партнеры*/

.partners ul{
  list-style: none;
}

.partners-logo {
  opacity: 0.2;
}

.partners-logo:hover,
.partners-logo:focus {
  opacity: 1.0;
}

.partners-logo:active {
  opacity: 0.1;
}

/*Страница Catalog*/

.page-title {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	color: #000000;
	background-color: #eeeeee;
  background-image: url('img/background/grey-back.png');
  background-repeat: repeat;
}

.filter fieldset {
  border: none;
}

.filter legend,
.sort {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.slider {
	background-color: #f1f1f1;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: #d0d2d3;
  opacity: 0.3;
}

.filter-show {
  width: 260px;
  height: 50px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  background-color: #eeeeee;
  border:none;
}

.sort a{
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	opacity: 0.3;
}

.sort a:hover,
.sort a:focus {
  opacity: 0.6;
}

.sort a:active {
	opacity: 1.0;
	color: #000000;
}

.browser{
	opacity: 0.12;
}

.catalog-list {
  list-style: none;
  background-color: #f8f8f8;
  border: 1px solid rgba(0, 1, 1, 0.1);
}

.product:hover .catalog-price{
  display: block;
  border: 1px solid rgba(0, 1, 1, 0.5);
}

.product:hover .browser {
  opacity: 1.0;
}

.catalog-price h2{
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-price p{
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
}

.pagination-list {
  list-style: none;
  text-decoration: none;
}

.pagination-item a {
  color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}
.pagination-item a:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination-item-current a {
  border: 3px solid #dbdbdb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  background-color: #dfdfdf;
}

.pagination-item-current a:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

/*подвал*/

.main-footer {
  text-align: center;
  background-color: #ffffff;
}

.address h3{
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
}

.address p{
	line-height: 18px;
}

/*Ссыки на соц сети*/

.social-network {
  list-style: none;
  text-align: left;
}

.circle {
  display: inline-block;
  width: 79px;
  height: 79px;
  text-align:center;
  line-height: 85px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-network a:hover,
.social-network a:focus {
  background-color: #e74246;
}

.social-network a:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.footer-contacts h2{
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.footer-contacts p{
	line-height: 22px;
}

/*Форма обратной связи*/

.write-me {
  font-weight: 700;
  line-height: 18px;
  display: none;
}

/* ----- Сеточные стили ----- */

.main-header {
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 49px;
  margin-bottom: 36px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 438px;
  padding-left: 202px;
  list-style: none;
}

.basket-navigation {
  display: flex;
  align-items: center;
}

.page-title {
  display: flex;
  margin: 0;
  justify-content: center;
}


/*Слайдs*/

.slide-flex {
  display: flex;
  align-content: center;
}

.slides {
  display: flex;
  flex-direction: row-reverse;
  /*временный отступ, что бы не склеивались*/
  margin-right: 40px;
}


/*Сфера деятельности*/

.sphere {
  display: flex;
  justify-content: space-around;
}

.sphere p {
  max-width: 239px;
  flex-wrap: wrap;
}

/*О студии*/

.about {
  display: flex;
}


/*Партнеры*/

.partners ul{
  display: flex;
  justify-content: space-around;

}

/*footer-flex*/

.social-slogan {
  width: 1443px;
  height: 217px;
  display: flex;

}

.social-network {
  display: flex;
  justify-content: space-between;
  width: 260px;
  height: 79px;
  margin-left: 143px;
  margin-top: 69px;
  margin-right: 69px;
}

.slogan {
  text-align: left;
  margin-top: 78px;
  margin-right: 356px;
  margin-left: 139px;
}

.slogan h2 {
  margin-bottom: 12px;
}

/*Каталог. Фильтры*/

.filter {
  display: flex;
  flex-direction: column;
}

.sort {
  display: flex;
}
