body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container-width {
  width: 1160px;
  margin: 0 auto;
}

.container-partners {
  width: 1160px;
  margin: 0 auto;
}

.container-fc {
  width: 319px;
  margin: 0 auto;
}

.container-filter {
  max-width: 261px;
  margin: 0 auto;
}

.container-sort-catalog {
  max-width: 759px;
  margin: 0 auto;
}

.container-popup {
  width: 960px;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.shop,
.main {
  color: #40b684;
  border-bottom: 2px solid transparent;
  border-color: #fb565a;
  display: block;
}

/*Навигация/Главный Логотип/ ссылка на корзину*/

.main-header {
  background-color: #eeeeee;
  background-image: url("img/background/grey-back.png");
  background-repeat: no-repeat;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-navigation {
  display: flex;
  padding-top: 49px;
  text-transform: uppercase;
  line-height: 1.88;
}


.navigation-width {
  width: 480px;
  margin: auto auto;
}

.main-logo:hover,
.main-logo:focus {
  opacity: 0.8;
}

.main-logo:active {
  opacity: 0.3;
}

.basket-link a {
  background-color: #a6a6a6;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-width: 438px;
  margin-top: 8px;
}

.nav-opt1 {
  margin-left: 47px;
}

.nav-opt2 {
  margin-left: 48px;
}

.nav-opt3 {
  margin-left: 44px;
}

.site-navigation,
.basket-navigation {
  list-style: none;
}

.site-navigation a,
.basket-navigation a {
  color: #000000;
  line-height: 1.88;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.basket-navigation a:active {
  color: #ababab;
}

.basket-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 26px;
}

.basket-navigation svg {
  margin-right: 26px;
}

/*---слайдер---*/

.slider {
  max-width: 1160px;
  height: 413px;
  margin-bottom: 80px;
}

.filter-item {
  margin: 0;
  padding: 0;  
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 30%;
  height: 2px;
  background: #00ca74;
  margin-left: 40px;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.38;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px; 
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #283136; 
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/*---Слайды---*/

.site-wrapper {
  width: 100%;
  height: 515px;
  background-color: #eeeeee;
  background-image: url("img/background/grey-back.png");
  background-repeat: no-repeat;
  padding-bottom: 31px;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before {
  background-image: url("img/index/slider-index/slide2.png");
}

.site-wrapper::after {
  background-image: url("img/index/slider-index/slide3.png");
}

.slider {
  position: relative;
  color: #000000;
}

.slider-list {
  padding: 0px;
  margin: 0px;
  width: 1129px;
  list-style: none;
}

.slider-controls label {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  display: flex;
  bottom: 85px;
  left: 534px;
  z-index: 1;
  font-size: 0;
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.slide-title {
  display: flex;
}

.slide-title img {
  width: 692px;
  height: 414px;
  flex-grow: 1;
  padding-top: 8px;
}

.slide-title h3 {
  margin: 0;
  padding-top: 68px;
  padding-bottom: 26px;
  width: 521px;
  font-size: 55px;
  line-height: 1;
  font-weight: 500;
}

.flex-slide {
  text-align: left;
  min-width: 376px;
}

.flex-slide p {
  margin: 0;
  min-width: 360px;
  padding-bottom: 50px;
  line-height: 1.5;
  color: #283136;
}

.flex-slide a {
  padding: 15px 56px 15px 55px;
}

/*Сфера деятельности*/

.sphere {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
  margin-bottom: 40px;
  border-width: 1160px;
  border-bottom: 2px solid #eeeeee;
}

.sphere-item {
  list-style: none;
  padding-top: 80px;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.item-block {
  width: 300px;
  margin-right: 100px;
}

.item-block:nth-child(3n) {
  margin-right: 0;
}

.sphere h3 {
  margin: 0;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 17px;
}

.sphere p {
  width: 250px;
  margin-bottom: 32px;
}

.sphere button {
  width: 160px;
  height: 50px;
}

/*Кнопки и цвет кнопок*/

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background: #fb565a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1.13;
  font-weight: 500;
}

.red {
  background-color: #fb565a;
}

.red:hover,
.red:focus{ 
  background-color: #e74246;
}

.red:active {
  background-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.mod {
  margin: 0;
  background-color: #fb565a;
  border-radius: 5px;
}

.mod:hover,
.mod:focus{ 
  background-color: #e74246;
}

.mod:active {
  background-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.green {
  background-color: #00ca74;
}

.green:hover,
.green:focus{ 
  background-color: #00bc6c;
}

.green:active {
  background-color: #00aa62;
  color: #40c08a;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.yellow {
  background: #efc84a;
}

.yellow:hover,
.yellow:focus {
  background-color: #eab534;
}
.yellow:active {
  background-color: #e5a722;
  color: #ecbe5c;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/* О студии*/

.about {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

.about h3 {
  margin: 0;
  width: 668px;
  font-size: 45px;
  line-height: 1;
  margin-top: 34px;
  font-weight: 500;
}

.little-studio {
  line-height: 1.5;
}

.little-studio p{
  margin: 0;
  line-height: 1.5;
  color: #283136;
  width: 650px;
  padding-top: 33px;
}

.order-info {
  color: #283136;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
}

.order-info h4{
  margin: 0px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 38px;
}

.order-info ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-info li {
  padding-top: 24px;
  position: relative;
  margin-left: 36px;
}

.order-info li:before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  top: 34px;
  left: -35px;
}

.about-in-percent {
  width: 360px;
}

.about-in-percent ul{
  list-style: none;
  padding: 0px;
  display: flex;
}

.percent-item {
  margin: 0;
}

.percent-item p {
  margin: 0;
  padding-right: 25px;
}

.percent-item p:last-child {
  padding-right: 0;
}

.year {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 12px;
  word-spacing: 2px;
}

.percent-1,
.percent-2,
.percent-3 {
  padding: 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 0.22;
  position: relative;
  padding-top: 45px;
}

.percent-1:before {
  content: "%";
  display: block;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  line-height: 0.22;
  left: 75px;
  top: 37px;
}

.percent-2:before {
  content: "%";
  display: block;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  line-height: 0.22;
  left: 75px;
  top: 37px;
}

.percent-3:before {
  content: "%";
  display: block;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  line-height: 0.22;
  left: 50px;
  top: 37px;
}

.percent-opt2 {
  margin-left: 16px;
}

.percent-opt3 {
  margin-left: 17px;
}

.percent-text {
  margin: 0;
  font-weight: 400;
  line-height: 1.13;
  padding-top: 36px;
}

/*Партнеры*/

.partners {
  border-top-width: 1160px;
  border-top: 2px solid #eeeeee;
  margin-top: 76px;
  padding-top: 42px;
  border-bottom-width: 1160px;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 34px;
  margin-bottom: 83px;
}

.partners ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.partners li {
  margin-left: 31px;
}

.part-opt1 img{
  padding-top: 18px;
}

.part-opt2 {
  margin-left: 64px;
}

.part-opt2 img{
  padding-top: 2px;
}

.part-opt3 {
  margin-left: 72px;
}

.part-opt3 img{
  padding-top: 20px;
}

.part-opt4 {
  margin-left: 90px;
}

.part-opt4 img{
  padding-top: 8px;
}

.line1,
.line2,
.line3 {
  position: relative;
}

.line1:before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  left: 248px;
  top: 24px;
}

.line2:before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  right: -46px;
  top: 24px;
}

.line3:before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  right: -60px;
  top: 24px;
}

.partners-logo {
  opacity: 0.2;
}

.partners-logo:hover,
.partners-logo:focus {
  opacity: 1.0;
}

.partners-logo:active {
  opacity: 0.1;
}

/*___________________________________*/
/*========Страница Catalog===========*/
/*-----------------------------------*/

.nav-catalog {
  padding-top: 18px;
  margin-left: 202px;
}

.nav-catalog1 {
  padding-top: 18px;
  margin-left: 47px;
}

.nav-catalog2 {
  padding-top: 18px;
  margin-left: 48px;
  margin-bottom: 14px;
}

.nav-catalog3 {
  padding-top: 18px;
  margin-left: 44px;
}

.catalog-basket {
  margin-left: 244px;
}

/*Надпись в шапке*/
.page-title {
  margin: 0;
  display: flex;
  padding-bottom: 108px;
  margin-left: 216px;
  margin-top: 68px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
  background-color: #eeeeee;
  background-image: url("img/background/grey-back.png");
  background-repeat: repeat;
  word-spacing: 3px;
}

/*Фильтры и каталог*/

.filter-all button{
  margin-top: 28px;
}

.price-opt {
  letter-spacing: 1px;
}

.filter-item-search {
  margin-top: 56px;
  padding: 0;
}

.filter-item-search1 {
  margin-top: 26px;
  padding: 0;
}


.filter-name {
  margin-bottom: 17px;
}

.filter-search {
  margin-bottom: 15px;
  padding-left: 35px;
}

.filter-search label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.catalog-flex {
  display:flex;
  padding-top: 6px;
}

.filter {
  margin-top: 48px;
}

.filter fieldset {
  border: none;
}

.filter legend,
.sort {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.sort a{
  color: #b3b3b3;
}

.sort li:hover,
.sort li:focus {
  color: #666666;
}

.sort li:active {
  color: #000000;
}

.filter ul {
  list-style: none;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 25px;
  height: 25px;
  background-image: url("../img/svg/radio-off.svg");
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: center;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: -3px;;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/svg/radio-on.svg");
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: center;
}

.filter-input-checkbox + label::before{
  content: "";
  left: -35px;
  top: -3px;
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url("../img/svg/checkbox-off.svg");
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: center;
}

.filter-input-checkbox:checked + label::before{
  content: "";
  left: -35px;
  top: -3px;
  position: absolute;
  width: 25px;
  height: 23px;
  background-image: url("../img/svg/checkbox-on.svg");
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: center;
}

.filter-input-checkbox:hover + label,
.filter-input-radio:hover + label,
.filter-input-checkbox:focus + label,
.filter-input-radio:focus + label{
  opacity: 1;
}

.filter-search {
  margin-bottom: 20px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: #d0d2d3;
  opacity: 0.3;
}

.filter-show {
  width: 260px;
  height: 50px;
  font-weight: 500;
  line-height: 1.13;
  text-align: center;
  background-color: #eeeeee;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.filter-show:hover,
.filter-show:focus{ 
  background-color: #dfdfdf;
}

.filter-show:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: #959595;
}

/*Сортировка с Каталогом*/

.sort-and-catalog {
  display: flex;
  flex-direction: column;
  margin-top: 46px;
  padding-left: 140px;
}

.sort {
  display: flex;
  width: 100%;
  margin-right: 140px;
  justify-content: space-between;
}

.sort p {
  margin: 0px;
}

.sort a{
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.3;
}

.sort-opt1 {
  margin-left: 1px;
}

.sort-opt2 {
  margin-left: 26px;
}

.sort-opt3 {
  margin-left: 26px;
}

.sort-opt4 {
  margin-left: 47px;
}

.sort-opt5 {
  margin-left: 17px;
}

.sort a:hover,
.sort a:focus {
  opacity: 0.6;
}

.sort a:active {
  opacity: 1.0;
  color: #000000;
}

.sort ul {
  margin: 0px;
  width: 359px;
  list-style: none;
  display: flex;
  word-spacing: -1px;
}

/*Каталог*/

.catalog {
  padding-top: 50px;
}

.browser {
  opacity: 0.12;
  width: 360px;
  height: 40px;
}

.catalog-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
}

.product {
  position: relative;
  margin-bottom: -6px;
}

.product p {
  margin: 0px;
  padding-bottom: 33px;
}

.product:hover .catalog-price{
  display: block;
  border: 1px solid rgba(0, 1, 1, 0.5);
}

.product:hover .browser {
  opacity: 1.0;
}

.catalog-price {
  position: absolute;
  padding: 0;
  background-color: #eeeeee;
  width: 358px;
  display: none;
  bottom: 40px;
  z-index: 1;
}

.catalog-but {
  margin-bottom: 8px;
  margin-left: 14px;
}

.catalog-price a:visited {
  color: #000000;
}

.catalog-price a:hover,
.catalog-price a:focus {
  color: #fb565a;
}

.catalog-price a:active {
  color: #b2b2b2;
}

.catalog-price button {
  width: 200px;
  height: 50px;
}

.catalog-price h2{
  margin: 0;
  text-decoration: none;
  margin-top: 25px;
  margin-bottom: 14px;
  margin-left: 78px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.card-width {
  margin: 0 auto;
  max-width: 230px;
}

/*каталон пинк*/

.pink-opt {
  margin-top: 26px;
}

.pink-opt a{
  margin-left: -5px;
}

.card-text1 {
  padding-left: 1px;
  text-align: center;
}

/*каталог барбера*/

.barb-opt {
  margin-top: 26px;
}

.barb-opt a{
  margin-left: -22px;
}

.barb-opt h2{
  margin-bottom: 12px;
}

.card-text2 {
  padding-left: 2px;
  text-align: center;
}

/*каталог мишки*/

.mishka-opt {
  margin-top: 26px;
}

.mishka-opt a{
  margin-left: 1px;
}

.mishka-opt h2{
  margin-bottom: 12px;
}

.card-text3 {
  padding-left: 2px;
  text-align: center;
}

/*каталог plus*/

.plus-opt {
  margin-top: 27px;
}

.plus-opt a{
  margin-left: 5px;
}

.plus-opt h2{
  padding-bottom: 2px;
}

.card-text4 {
  text-align: center;
}

/*каталог kvast*/

.kvast-opt {
  margin-top: 27px;
}

.kvast-opt a{
  margin-left: 6px;
}

.kvast-opt h2{
  padding-bottom: 2px;
}

.card-text5 {
  padding-left: 6px;
  text-align: center;
}

.card-text {
  padding-left: 19px;
  text-align: center;
}

.catalog-price p{
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
  padding-bottom: 32px;
}

/*-----ПАГИНАЦИЯ-----*/

.pagination-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  display: flex;
  margin-top: 26px;
  margin-bottom: 59px;
}

.pagination-list a{
  text-transform: uppercase;
  font-weight: 500;
}

.pagination-item {
  width: 50px;
  height: 50px;
  margin-right: 11px;
  background-color: #eeeeee;
  border-radius: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  color: #000000;
  border-radius: 5px;
  float: left;
  padding: 13px 21px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}
.pagination-item a:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination-item-current a {
  padding: 0;
  border: 3px solid #dbdbdb;
  padding: 10px 18px;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  background-color: #dfdfdf;
}

.pagination-item-current a:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagin-active {
  background-color: #ffffff;
}

.pagination-item-next a{
  width: 217px;
  text-align: center;
  background-color: #eeeeee;
}

/*==========================*/
/*============MAP===========*/

.main-map {
  margin-bottom: 70px;
}

.maps {
  position: relative;
  width: 100%;
  height: 416px;
  background-image: url("../img/maps-and-marker.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.footer-contacts {
  position: absolute;
  background-color: #ffffff;
  bottom: 54px;
  z-index: 1;
}

.footer-contacts address {
  margin: 0;
  padding: 0;
  font-style: normal;
  text-align: left;
  margin-top: 49px;
  margin-left: 50px;
  margin-bottom: 35px;
}

.footer-contacts button {
  width: 219px;
  height: 50px;
  margin-bottom: 47px;
  margin-left: 50px;
}

.footer-contacts p {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 14px;
  color: #666666;
  width: 200px;
}

.footer-contacts a{
  color: #666666;
  line-height: 18px;
  width: 200px;
}

.name-address {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

/*==========================*/
/*=========FOOTER===========*/
/*==========================*/

.main-footer {
  background-color: #ffffff;
}

/*Ссыки на соц сети*/

.social-network {
  display: flex;
  flex-wrap: wrap;
  width: 261px;
  margin: 0;
  padding: 0;
}

.social-item {
  list-style: none;
}

.item-social {
  width: 79px;
  margin-right: 12px;
}

.item-social:nth-child(3n) {
  margin-right: 0px;
}

.circle {
  display: inline-block;
  vertical-align: top;
  width: 79px;
  height: 79px;
  text-align: center;
  line-height: 85px;
  background-color: #e1e1e1;
  border-radius: 50%;
  margin-right: 10px;
}

.social-network a:hover,
.social-network a:focus {
  background-color: #e74246;
}

.social-network a:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.footer-contacts {
  width: 320px;
}

.footer-contacts h3{
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.footer-contacts p{
  line-height: 18px;
}

.social-slogan {
  width: 1160px;
  height: 148px;
  display: flex;
}

.slogan {
  text-align: left;
  padding-left: 140px;
  padding-top: 5px;
}

.slogan h2 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.slogan p {
  margin: 0;
  padding-top: 10px;
  line-height: 1.38;
}

/*Форма обратной связи*/

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  color: #000000;
  background-color: #ffffff;
  width: 960px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  z-index: 5;
  margin: auto;
}

.modal-write {
  display: none;
  top: 120px;
  left: 240px;
  right: 240px;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close {
  width: 21px;
  height: 21px;
  opacity: 0.3;
  position: absolute;
  right: 90px;
  top: 80px;
  border: 0;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1.0;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 21px;
  height: 21px;
  margin-top: 6px;
  background-image: url("../img/svg/close-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-write h2 {
  margin: 0;
  margin-top: 75px;
  margin-left: 100px;
  font-size: 45px;
  line-height: 1;
  font-weight: 500;
}

.popup-all {
  line-height: 1.13;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.contact-name {
  margin-right: 40px;
}

.contact-name,
.email {
  width: 356px;
  height: 43px;
  border: solid 2px #d7dcde;
  margin-top: 9px;
}

.popup-comment {
  margin-left: 100px;
}

.comment {
  margin-top: 9px;
  margin-left: 100px;
  padding-top: 11px;
  padding-left: 9px;
  max-width: 752px;
  height: 111px;
  border: solid 2px #d7dcde;
  resize: none;
}

.name-opt,
.mail-opt {
  margin-top: 40px;
}

.comment-opt {
  margin-top: 35px;
}

.name-email {
  margin-left: 100px;
  width: 768px;
  display: flex;
  flex-wrap: wrap;
}

.butred {
  width: 260px;
  height: 50px;
  margin-top: 39px;
  margin-left: 100px;
  margin-bottom: 84px;
}