body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background: #fb565a;
  border: none;
}

.button:hover,
.button:focus { 
background-color: #e74246;
}
.button:active {
  background-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.green {
  background-color: #00ca74;
}
.green:hover,
.green:focus{ 
background-color: #00bc6c;
}
.green:active {
  background-color: #00aa62;
  color: #40c08a;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.yellow {
  background: #efc84a;
}
.yellow:hover,
.yellow:focus {
  background-color: #eab534;
}
.yellow:active {
  background-color: #e5a722;
  color: #ecbe5c;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.main-navigation {
  background-color: #eeeeee;
  background-image: url("img/background/grey-back.png");
  background-repeat: no-repeat;

}

.main-logo {
  list-style: none;
}

.main-logo:hover,
.main-logo:focus {
  background-color: #303030;
  opacity: 0.8;
}
.main-logo:active {
  background-color: #a7a7a7;
  opacity: 0.3;
}

.basket-link a {
  background-color: #a6a6a6;
}

.site-navigation,
.basket-navigation {
  list-style: none;
}

.site-navigation a,
.basket-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
  color: #fb565a;
}
.site-navigation a:active,
.basket-navigation a:active {
  color: #ababab;
}

.catalog {
  color: #40b684;
  text-decoration: underline;
}

/*Сфера деятельности*/

.Sfera {
  list-style: none;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}

.Sfera h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

/*Страница Catalog*/

.page-title {
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
	color: #000000;
	background-color: #eeeeee;
    background-image: url("img/background/grey-back.png");
    background-repeat: repeat;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
  line-height: 20px;
  text-transform: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
}
.filter-input:disabled + label {
  color: #d0d2d3;
  opacity: 0.3;
}

.filter-show {
  background-color: #eeeeee;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.catalog h3{
	list-style: none;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
}

.catalog-list {
  list-style: none;
}

.catalog-list {
  background-color: #f8f8f8;
  box-shadow: 1px solid rgba(0, 1, 1, 0.1);
}

.catalog-list:hover {
  box-shadow: 1px solid rgba(0, 1, 1, 0.2);
}

.pagination-list {
  list-style: none;
  text-decoration: none;
}

.pagination-item a {
  color: #000000;
  background-color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}
.pagination-item a:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination-item-current a {
  border: 3px solid #dbdbdb;
  color: #000000;
  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
}

/*подвал*/

.main-footer {
  font-size: 36;
  line-height: 36x;
  font-weight: 700;
  text-align: center;
  text-transform: none;

  color: #000000;
  list-style: none;
  background-color: #ffffff;
}

.social-network {
  list-style: none;
  text-align:left;
}

.social-network a:hover,
.social-network a:focus {
  background-color: #e74246;
}
.social-network a:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}