body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
	position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.shop {
	color: #40b684;
  display: block;
	border-bottom: 2px solid transparent;
  border-color: #fb565a;
}

.catalog-price{
  background-color: #eeeeee;
  width: 360px;
  min-height: 231px;
  text-align: center;
  display: none;
}

.main-style {
  margin-left: 140px;
  margin-right: 140px;
}

/*Навигация/Главный Логотип/ ссылка на корзину*/

.main-header {
  background-color: #eeeeee;
  background-image: url('img/background/grey-back.png');
  background-repeat: no-repeat;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px;
}

.main-logo {
  margin-left: 140px;
}

.main-logo:hover,
.main-logo:focus {
  opacity: 0.8;
}
.main-logo:active {
  opacity: 0.3;
}

.basket-link a {
  background-color: #a6a6a6;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 438px;
  list-style: none;
}

.site-navigation,
.basket-navigation {
  list-style: none;
}

.site-navigation a,
.basket-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.basket-navigation a:active {
  color: #ababab;
}

.basket-navigation {
  display: flex;
  margin-right: 140px;
  align-items: center;
}

.basket-navigation svg {
  margin-right: 26px;
}

.page-title {
  margin: auto;
  display: flex;
  padding-bottom: 116px;
  justify-content: center;
}


/*---слайдер---*/

.slider {
  width: 261px;
  height: 80px;
}

.filter-item {
  margin: 0;
  padding: 0;  
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/*---Слайды---*/

.back-slides {
  background-color: #eeeeee;
  background-image: url('img/background/grey-back.png');
  background-repeat: no-repeat;
}

.slide-flex {
  display: flex;
}

.slides {
  display: flex;
  flex-direction: row-reverse;
  width: 1129px; 
  height: 413px;

  /*временный отступ, что бы не склеивались слайды*/
  margin-right: 40px;
}

.slides img{
  width: 698px;
  height: 413px;
}

.slides h3{
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}


/*Сфера деятельности*/


.sphere {
  padding-top: 80px;
  list-style: none;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.sphere h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.sphere p {
  max-width: 239px;
  flex-wrap: wrap;
}

/*Кнопки и цвет кнопок*/

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background: #fb565a;
  border: none;
}

.red {
  background-color: #fb565a;
}
.red:hover,
.red:focus{ 
  background-color: #e74246;
}

.red:active {
  background-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.green {
  background-color: #00ca74;
}

.green:hover,
.green:focus{ 
  background-color: #00bc6c;
}

.green:active {
  background-color: #00aa62;
  color: #40c08a;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.yellow {
  background: #efc84a;
}

.yellow:hover,
.yellow:focus {
  background-color: #eab534;
}
.yellow:active {
  background-color: #e5a722;
  color: #ecbe5c;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/* О студии*/

.about {
  padding-top: 122px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}

.little-and-info {

}

.about h3 {
  width: 650px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about p{
  color: #283136;
  width: 616px;
}

.order-info {
  width: 429px;
  color: #283136;
  font-size: 16px;
  line-height: 24px;
}

.order-info h4{
  font-weight: 700;
  text-transform: uppercase;
}

.order-info ul{
  padding: 0;
  list-style: none;
}

.dash {
  color: #fb565a;
}

.about-in-percent {
  margin-right: 140px;
}

.about-in-percent ul{
  list-style: none;
}

.year {
  width: 328px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.percent {
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
}

.percent-text {
  color: #283136;
  font-weight: 400;
  line-height: 18px;
}

/*Партнеры*/

.partners ul{
  list-style: none;
  margin: 124 auto 208;
  display: flex;
  justify-content: space-around;
}

.partners-logo {
  opacity: 0.2;
}

.partners-logo:hover,
.partners-logo:focus {
  opacity: 1.0;
}

.partners-logo:active {
  opacity: 0.1;
}

/*___________________________________*/
/*========Страница Catalog===========*/
/*-----------------------------------*/

/*Надпись в шапке*/
.page-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
  background-color: #eeeeee;
  background-image: url('img/background/grey-back.png');
  background-repeat: repeat;
}

/*Фильтры и каталог*/

/*.filter-all {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}*/

.catalog-flex {
  display:flex;
}

.filter {
  margin-top: 63px;
}

.filter fieldset {
  border: none;
}

.filter legend,
.sort {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

/**.slider {
	background-color: #f1f1f1;
}**/

.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: #d0d2d3;
  opacity: 0.3;
}

.filter-show {
  width: 260px;
  height: 50px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  background-color: #eeeeee;
  border:none;
}

.sort-and-catalog {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.sort {
  display: flex;
  justify-content: space-between;
}

.sort a{
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	opacity: 0.3;
}

.sort a:hover,
.sort a:focus {
  opacity: 0.6;
}

.sort a:active {
	opacity: 1.0;
	color: #000000;
}

.sort ul {
  list-style: none;
  display: flex;
  justify-content:  space-between;
}

.browser {
	opacity: 0.12;
}

.catalog-list {
  list-style: none;
  background-color: #f8f8f8;
  border: 1px solid rgba(0, 1, 1, 0.1);
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
  margin-right: 140px;*/
}

.product p {
  margin: 0;
}

.product:hover .catalog-price{
  display: block;
  border: 1px solid rgba(0, 1, 1, 0.5);
}

.product:hover .browser {
  opacity: 1.0;
}

.catalog-price h2{
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-price p{
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
}

/*-----ПАГИНАЦИЯ-----*/


.pagination-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  margin-right: 11px;
}

.pagination-item a {
  color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}
.pagination-item a:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination-item-current a {
  border: 3px solid #dbdbdb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  background-color: #dfdfdf;
}

.pagination-item-current a:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

/*подвал*/

.main-footer {
  background-color: #ffffff;
}

.address h3{
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
}

.address p{
	line-height: 18px;
}

/*Ссыки на соц сети*/

.social-network {
  list-style: none;
  text-align: left;
  display: flex;
  margin-left: 140px;

  justify-content: space-between;
  width: 260px;
  height: 79px;
}

.circle {
  display: inline-block;
  width: 79px;
  height: 79px;
  text-align:center;
  line-height: 85px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-network a:hover,
.social-network a:focus {
  background-color: #e74246;
}

.social-network a:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.footer-contacts {
  width: 319px;
  height: 308px;
}
.footer-contacts h3{
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.footer-contacts p{
	line-height: 18px;
}

.social-slogan {
  width: 1443px;
  height: 217px;
  display: flex;
  justify-content: space-between;
}

.slogan {
  text-align: center;
  margin-right: 140px;
}


/*Форма обратной связи*/

.write-me {
  font-weight: 700;
  line-height: 18px;
  display: none;
}
